<mat-toolbar color="primary">
  <button mat-icon-button color="accent - green">
  <mat-icon>menu</mat-icon>
  </button>
  <span style="flex: auto;"></span>
  <button mat-button routerLink ="/form-etudiant" >Ajouter Etudiant</button>
  <button mat-button routerLink ="/list-etudiant">Liste Etudiant</button>
  <button mat-button [matMenuTriggerFor]="importMenu">
    <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
    Import
  </button>
  <mat-menu #importMenu>
    <button mat-menu-item>Load Students</button>
    <button mat-menu-item>Load Payemnts</button>
  </mat-menu>
  <button  mat-raised-button color="accent" >Logout</button>
</mat-toolbar>
<div>
<router-outlet></router-outlet>
</div>

