<form [formGroup]="etudiantForm" (ngSubmit)="onSubmit() " class="mat-form-container">
  <div class="mat-form-row">
    <mat-form-field appearance="outline" class="mat-form-field-custom">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="nom" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-form-field-custom">
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="prenom" />
    </mat-form-field>
  </div>

  <div class="mat-form-row">
    <mat-form-field appearance="outline" class="mat-form-field-custom">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-form-field-custom">
      <mat-label>Matricule</mat-label>
      <input matInput formControlName="matricule" />
    </mat-form-field>
  </div>

  <div style="flex: auto; margin-bottom: 16px;">
    <button mat-raised-button color="warn" type="button" style="margin-right: 16px;" (click)="etudiantForm.reset()">
      Annuler
    </button>

    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
      Enregistrer
    </button>
  </div>
</form>

<hr style="border: 1px solid #02046c; margin: 20px 0;">

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let etudiant">{{ etudiant.id }}</td>
  </ng-container>

  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef>Nom</th>
    <td mat-cell *matCellDef="let etudiant">{{ etudiant.nom }}</td>
  </ng-container>

  <ng-container matColumnDef="prenom">
    <th mat-header-cell *matHeaderCellDef>Prénom</th>
    <td mat-cell *matCellDef="let etudiant">{{ etudiant.prenom }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let etudiant">{{ etudiant.email }}</td>
  </ng-container>

  <ng-container matColumnDef="matricule">
    <th mat-header-cell *matHeaderCellDef>Matricule</th>
    <td mat-cell *matCellDef="let etudiant">{{ etudiant.matricule }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr
  mat-row
  *matRowDef="let row; columns: displayedColumns;"
  (click)="clickedRows.add(row)"
  [class.selected]="clickedRows.has(row)"
></tr>

  <ng-container matColumnDef="action">
  <th mat-header-cell *matHeaderCellDef>Action</th>
  <td mat-cell *matCellDef="let etudiant">
    <button mat-icon-button color="primary" (click)="onEdit(etudiant)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="onDelete(etudiant)">
      <mat-icon>delete</mat-icon>
    </button>
  </td>
</ng-container>

</table>

<!-- <div style="margin-top: 24px;">
  <h3>Historique de sélection</h3>
  <div *ngIf="!clickedRows.size">Aucune ligne sélectionnée.</div>
  <ul>
    <li *ngFor="let clickedRow of clickedRows">
      {{ clickedRow.nom }} {{ clickedRow.prenom }} {{ clickedRow.email }} ({{clickedRow.matricule}})
    </li>
  </ul>
</div> -->
