.mat-form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.mat-form-field-custom {
  flex: 1;
}

.full-width-table {
  width: 100%;
  margin-top: 20px;
}

.selected {
  background-color: #e0f7fa;
}
td button {
  margin-right: 8px;
}

